/* .\tailwindcss-windows.exe --input ./css/tw.css --output ./css/output.css --watch */

@import 'tailwindcss';
@source not "../fonts";
@source not "../icons";
@source not "../images";

@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: OvertheRainbow;
  src: url('../fonts/OvertheRainbow-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@theme {
  --color-dark: #000;
  --color-light: #fff;
  --color-primary: #f78104;
  --color-secondary: #a0d3cc;
  --color-gray: #ababab;

  --font-oswald: Oswald;
  --font-over-the-rainbow: 'OvertheRainbow';
}

:root {
  font-family: var(--font-oswald);
  text-rendering: geometricPrecision;
}
.container {
  @apply mx-auto px-4;
}

[class*='btn-'] {
  @apply px-6 py-2 rounded-full uppercase max-w-max;
}

.btn-primary {
  @apply bg-primary text-light;
}
.btn-light {
  @apply bg-light text-dark;
}

.btn-secondary {
  @apply bg-secondary text-dark;
}
